@model examenCrudAPI_CAPAS.Cliente.ViewModel.EmpleadoDTOVM

@{
    ViewData["Title"] = "Editar Empleados";
}

<div class="container">

    <div class="m-2">
        <div>
            <h2>Ingresar Empleado</h2>
            <form asp-action="Editar" method="post">
                <input type="hidden" asp-for="EmpleadoModelReference.IdEmpleado"/>
                <input type="hidden" asp-for="EmpleadoModelReference.Activo"/>
                <div>
                    <label>Nombre Empelado: </label>
                    <input asp-for="EmpleadoModelReference.NombreEmpleado" required />
                </div>
                <div>
                    <label>Departamento: </label>
                    <select asp-for="EmpleadoModelReference.IdDepartamento"
                            asp-items="@(new SelectList(Model.ListaDepartamento, "IdDepartamento", "NombreDepartamento"))" required>
                        <option value="">--Selecciona un Departamento</option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-outline-success" type="submit">Editar</button>
                    <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>
